<?xml version="1.0" encoding="UTF-8"?>

<IDataXMLCoder version="1.0">
  <record javaclass="com.wm.data.ISMemDataImpl">
    <array name="StreamingConfiguration" type="record" depth="1">
      <record javaclass="com.wm.data.ISMemDataImpl">
        <value name="name">SIQAAutomationProject_project.siqaautomation.streaming.connections:EmbeddedMessaging</value>
        <value name="description">This is the default embedded messaging account</value>
        <value name="package">SIQAAutomationProject</value>
        <value name="type">Universal Messaging</value>
        <value name="clientId">EMf054094ac25f435294a8ebe9d76ae249</value>
        <value name="enabled">false</value>
        <value name="other_properties"></value>
        <value name="dynamic_properties">jms.username=admin
jms.password=*****
um.server.url=nhp://stage00-prod731523-um-0.int-prod731523.svc.cluster.local:9000/</value>
        <value name="securityProtocol"></value>
        <value name="truststoreAlias"></value>
        <value name="keystoreAlias"></value>
        <value name="keystoreKeyAlias"></value>
      </record>
    </array>
  </record>
</IDataXMLCoder>
